/*****************************************************
 * node_modules imports
 *****************************************************/
@import 'node_modules/bootstrap/scss/bootstrap.scss';

/*****************************************************
 * project imports
 *****************************************************/
@import 'variables';
@import 'mixins';

/*****************************************************
 * styles
 *****************************************************/
html, body, app-root, app-game {
  overflow: hidden;
  width   : 100%;
  height  : 100%;
  margin  : 0;
  padding : 0;
}

body {
  background-color: $mainBgColor;
  color: $mainTextColor;
}

.engine-wrapper{
  position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
 // z-index: 0;

  #renderCanvas {
    width   :  100%;//100%//500px;
    height  : 100%;//100%//700px;
    touch-action: none;
  }

  #renderCanvas:focus {
    outline: none;
  }
}

// .ui-wrapper {
//   //position: absolute;

//   // * {
//   //   z-index: 10;
//   // }
// }

#general{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

.card{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(44, 44, 44);
  min-width: 175px;
  margin: 0 15px 15px 15px;
  padding: 15px;
  
  
}

#xatGeneral {
  min-height: 70vh;
}

#columnEsquerra{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  //min-height: 70vh;
}
#stats {
 min-height: 60px;
}

#xatPrivat {
 min-height:400px;
}