<header>
  <img src="../../../assets/textures/AbyssXat.jpg" alt="" />
</header>
<h3 style="margin: 20px">User : {{ nickname }}</h3>
<div style="margin: 20px">
  <h5 style="margin-left: 60px;">KEYBOARD CONTROLS</h5>
  <span style="margin-left: 104px;"> move forward</span><br>
  <img
    src="../../../assets/textures/tboi0aiq.bmp"
    alt=""
    style="
      filter: brightness(90%);
      width: 58px;
      height: 58px;
      object-fit: none;
      border-radius: 13%;
      margin-left: 129PX;
    "
  /><br>
  <span> move left </span>
  <img
  src="../../../assets/textures/64xpisqk.bmp"
  alt=""
  style="
    filter: brightness(90%);
    width: 58px;
    height: 58px;
    object-fit: none;
    border-radius: 13%;
  "
/>
  <img
    src="../../../assets/textures/fcnxawgo.bmp"
    alt=""
    style="
      filter: brightness(90%);
      width: 58px;
      height: 58px;
      object-fit: none;
      border-radius: 13%;
    "
  />

  <img
    src="../../../assets/textures/6xuibstv.bmp"
    alt=""
    style="
      filter: brightness(90%);
      width: 58px;
      height: 58px;
      object-fit: none;
      border-radius: 13%;
    "
  /><span> move right</span><br>
  <span style="margin-left: 96px;"> move backward</span>
</div>
