<div class="card" id="xatGeneral">
    <header>Xat</header>
    <div id="llistatMissatges">
        <div class="cssmissatgesEnviats"> provaeebut1</div>
        <div class="cssmissatgesEnviats"> provaeebut1</div>
        <div class="cssmissatgesEnviats"> provaeebut1</div>
        <div class="cssmissatgesEnviats"> proveebut1</div>
        <div class="cssmissatgesRebuts"> provaMissatgeRebut1</div>
    </div>
    <div id="escriure">
        <input id="inputMissatge" type="text" />
        <button id="botoEnviar">Send</button>
    </div>
</div>