<div class="card" id="xatGeneral">
    <header>Xat General</header>
    <div id="llistatMissatges">
        <!-- <div class="cssmissatgesEnviats"> provaenviat</div>
        <div class="cssmissatgesEnviats"> provaenviat</div>
        <div class="cssmissatgesRebuts"> provaMissatgeRebut1</div>
        <div class="cssmissatgesEnviats"> provaenviat</div>
        <div class="cssmissatgesRebuts"> provaMissatgeRebut1</div>
        <div class="cssmissatgesEnviats"> provaenviat</div> -->
    </div>
    <div id="escriure">
        <input id="inputMissatge" type="text" />
        <button id="botoEnviar">Send</button>
    </div>
</div>