#llistatMissatges{
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    align-content: flex-end;
    align-self: flex-end;
    width: 250px;
    height: 500px;
}

.cssmissatgesRebuts{
    text-align: left;
   color: red;
}

.cssmissatgesEnviats{
    text-align: right;
    color: green;
}