<div class="card" id="xatGeneral">
    <header>Xat privat {{destinatari}}</header>
    <div id="llistatMissatges">
        <!-- <div class="cssmissatgesEnviats"> provaenviat</div>
        <div class="cssmissatgesEnviats"> provaenviat</div>
        <div class="cssmissatgesRebuts"> provaMissatgeRebut1</div>
        <div class="cssmissatgesEnviats"> provaenviat</div>
        <div class="cssmissatgesRebuts"> provaMissatgeRebut1</div>
        <div class="cssmissatgesEnviats"> provaenviat</div> -->
    </div>
    <div id="escriure">
        <input id="inputMissatge" type="text" />
        <button id="botoEnviar">Send</button>
        <select name="destinatari">
            <option value="dest1">Destinatari 1</option>
            <option value="dest1">Destinatari 2</option>
            <option value="dest1">Destinatari 3</option>
            <option value="dest1">Destinatari 4</option>
        </select>
    </div>
</div>